@import "variables";
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: $amazon-white;
    color: $amazon-dark;
}

.auth-container {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .auth-box {
        background-color: $amazon-white;
        width: 350px;
        border: 1px solid $amazon-white;
        border-radius: 4px;
        padding: 26px;
        margin-bottom: 20px;

        h1 {
            font-weight: 400;
            font-size: 28px;
            line-height: 1.2;
            margin-bottom: 15px;
        }

        .form-label {
            font-weight: 700;
            font-size: 13px;
            margin-bottom: 5px;
        }

        .form-control {
            font-size: 13px;
            padding: 8px 10px;
            border-radius: 3px;
            border-color: $amazon-gray;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;

            &:focus {
                border-color: $amazon-orange;
                box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
            }
        }

        .btn-warning {
            background: linear-gradient(to bottom, $light-yellow, $amazon-yellow);
            border-color: $dark-yellow $dark-yellow $dark-yellow;
            color: $amazon-dark;
            font-size: 13px;

            &:hover {
                background: linear-gradient(to bottom, $light-yellow, $amazon-orange);
            }
        }
    }

    .auth-wrapper {
        width: 350px;
        margin: 0 auto;
    }

    .text-13 {
        font-size: 13px;
    }

    .text-12 {
        font-size: 12px;
    }

    .text-11 {
        font-size: 11px;
    }

    .text-8 {
        font-size: 8px;
    }

    .lh-1-5 {
        line-height: 1.5;
    }

    .create-account-btn {
        font-size: 13px;
        background: linear-gradient(to bottom, $amazon-white, $amazon-white);
        border-color: $amazon-gray $amazon-gray $amazon-gray;
        color: $amazon-dark;

        &:hover {
            background: linear-gradient(to bottom, $amazon-white, $amazon-white);
        }
    }

    .auth-footer {
        background: linear-gradient(to bottom, $amazon-white, $amazon-white);
        border-top: 1px solid $amazon-white;
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;

        a {
            text-decoration: none;
            color: $amazon-blue;

            &:hover {
                text-decoration: underline;
                color: $dark-orange;
            }
        }
    }
}